<h2>Connexion d'un utilisateur</h2>
<form action="/user/log" class="form-group" method="POST">
    <label for="email">Adresse mail</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="toto@toto.com" maxlength="255">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="password" maxlength="255">

    <button type="submit" class="btn btn-primary">Me connecter</button>
</form>